/*Variables xerais*/
:root {
-- azul-atlantico: #0A4D68; 
-- azul-oceanico: #2E8BC0;
-- complementaria: #4CAF50;
-- blanco: #FFFFFF;
-- fondo-secundario: #F5F7FA;
-- texto-secundario: #4A4A4A;
-- texto-principal: #1E1E1E;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: var(--blanco);
    color: var(--texto-principal);
    line-height: 1.6;
    min-height: 100vh;
}